body {
  margin: 0;
  padding: 0;
  background-color: #008000; 
  color: white; 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  background-color: #008000; 
  padding: 20px;
  text-align: center;
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe o restante do espaço vertical disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}footer {
  background-color: #215934; 
  padding: 20px;
  text-align: center;
}
.content {
  text-align: center;
  align-items: center;
}

.title {
  font-size: 100px; 
  margin-bottom: 10px;
  color: #abe56b;
  font-family: 'Urbanist' !important;
}

.description {
  font-size: 35px;
  margin-top: 0; 
    margin-bottom: 20px; 
}

.cta-button {
  padding: 20px 40px; /* Maior espaço ao redor do botão */
  font-size: 20px; /* Tamanho maior para o texto do botão */
  background-color: white;
  color: #215934; /* Altera a cor do texto para verde */
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.cta-button:hover {
  background-color: lightgray;
}
.logo {
  position: absolute;
  top: 10px; 
  left: 10px; 
}

.logo img {
  width: 130px; 
  height: auto; 
}
.menu {
  width: 0;
  height: 100%;
  background-color: #0d207385;
  position: fixed;
  top: 0;
  right: 0; /* Ajustado para o canto direito */
  padding: 20px;
  transition: right 0.5s, width 0.5s; /* Transição ajustada */
  overflow-y: auto;
  z-index: 99;
}

.menu.active {
  right: 0; /* Ajustado para abrir para a direita */
  width: 250px;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #acc9fc;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: flex-end; /* Ajustado para alinhar o ícone no canto direito */
  z-index: 100;
}
form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #abe56b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #777;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #56d948;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.btn {
  background-color: #abe56b;
  color: #abe56b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #abe56b;
}

.mensagem-alerta {
  text-align: center;
  margin-top: 20px;
}

.help-block {
  color: #75CD5F;
}
input {
  color: #abe56b;
}