* {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #215934; 
  color: white; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  background-color: #215934; 
  padding: 20px;
  text-align: center;
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe o restante do espaço vertical disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}footer {
  background-color: #215934; 
  padding: 20px;
  text-align: center;
}
.content {
  align-items: center;
  padding: 30px;
}
.button {
  background-color: #808080; /* Cinza */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  text-align: center;
}
.circle h3, .circle p {
  margin: 0;
  padding: 0;
}
.circle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
}
.circle p {
  margin-top: 100px; /* Distância entre o círculo e o texto */
  font-size: 14px;
  color: white;
}
.green {
  background-color: #ABE56B; /* Verde */
}
.brown {
  background-color: #8B4513; /* Marrom */
}
.blue {
  background-color: #007bff; /* Azul */
}
.white {
  background-color: #ffffff; /* Branco */
  color: #000;
}

.title {
  font-size: 100px; 
  margin-bottom: 10px;
  color: #abe56b;
  font-family: 'Urbanist' !important;
}
.pq{
  font-size: 70px; 
  margin: 0;
  color: #abe56b;
  font-family: 'Urbanist' !important;
}
.descricao{
  font-size: 25px;
  margin-top: 0; 
  margin-bottom: 20px; 
  color: white;
}
.description {
  font-size: 35px;
  margin-top: 0; 
    margin-bottom: 20px; 
    color:white;
}
.con{
  padding: 20px 40px; /* Maior espaço ao redor do botão */
  font-size: 20px; /* Tamanho maior para o texto do botão */
  background-color: #D3D3D3;
  color: #215934; /* Altera a cor do texto para verde */
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}
.cta-button {
  padding: 20px 40px; /* Maior espaço ao redor do botão */
  font-size: 20px; /* Tamanho maior para o texto do botão */
  background-color: white;
  color: #215934; /* Altera a cor do texto para verde */
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.cta-button:hover{
  transform: scale(0.9);
}
.sobreb {
  padding: 20px 40px; /* Maior espaço ao redor do botão */
  font-size: 20px; /* Tamanho maior para o texto do botão */
  background-color: white;
  color: #215934; /* Altera a cor do texto para verde */
  border: none;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 30px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}
.sobreb:hover{
  transform: scale(0.9);
}
#div-btn-sobrenos{
  text-align: center;
}


#section1{
  height: 90vh;
}

#section3{
  margin-top: -65px;
  height: 120vh;
}
#section4{
  height: 105vh;
}
#section5{
  height: 105vh;
  padding: 0 !important;
}
.cta-button:hover {
  background-color: lightgray;
}
.logo {
  position: absolute;
  top: 10px; 
  left: 10px; 
}

.logo img {
  width: 130px; 
  height: auto; 
}
.menu {
  width: 0;
  height: 100%;
  background-color: #0d207385;
  position: fixed;
  top: 0;
  right: 0; /* Ajustado para o canto direito */
  padding: 20px;
  transition: right 0.5s, width 0.5s; /* Transição ajustada */
  overflow-y: auto;
  z-index: 99;
}

.menu.active {
  right: 0; /* Ajustado para abrir para a direita */
  width: 250px;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #acc9fc;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: flex-end; /* Ajustado para alinhar o ícone no canto direito */
  z-index: 100;
}
form {
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: #abe56b;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  text-align: justify;
}

p {
  text-align: center;
  color: #777;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #56d948;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.btn {
  background-color: #abe56b;
  color: #abe56b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #abe56b;
}

.mensagem-alerta {
  text-align: center;
  margin-top: 20px;
}
a{
  text-decoration: none;
  color: black;

}
p{
  font-size: 10px;
}
.help-block {
  color: #75CD5F;
}
input {
  color: #abe56b;
}
.meio {
  background-color: white; /* Cor verde escura */
  padding: 10px;
  text-align: center;
  padding-top: 1%;
}
.content {
  text-align: center;
  padding: 1px;
}
.content1 {
  text-align: center;
  padding-top: 1px;
}
.button {
  background-color: #808080; /* Cinza */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  text-align: center;
}
.circle h3, .circle p {
  margin: 0;
  padding: 0;
}
.circle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #808080;
}
.circle p {
  margin-top: 100px; /* Distância entre o círculo e o texto */
  font-size: 14px;
  color: white;
}
.green {
  background-color: #ABE56B; /* Verde */
}
.brown {
  background-color: #8B4513; /* Marrom */
}
.blue {
  background-color: #007bff; /* Azul */
}
.white {
  background-color: #ffffff; /* Branco */
  color: #000;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  color: #ABE56B;
  text-align: center;
  text-align: justify;
}
.conheca{
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}


footer {
  background-color: #ABE56B;
  color: #fff;
  position: sticky;
  text-align: center;
  padding: 20px 0;
  margin-bottom: -899px;
  width: 100%;
}
/* nav padrão*/
svg {
  margin-bottom: 0;
  width: 100%;
  fill: #ABE56B;
}


h2 {
  color: #215934;
}

p {
  color: black;
  line-height: 1.6;
  font-size: 18px;
}
.section {
  background-color: #d4edda;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.linha {
  text-align: center; /* Centraliza o conteúdo dentro da div */
}

/* Estilos para a classe lixos */
/* Estilos para a imagem dentro da classe lixos */
.lixos img {
  width: 80%; /* Define a largura da imagem */
}

.mission,
.vision,
.values {
  margin-bottom: 20px;
  height: 100vh;
}

.values ul {
  list-style-type: none;
  padding: 0;
}

.values li {
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative;
  color: black;
}

.values li:before {
  content: "\2022";
  color: #215934;
  font-weight: bold;
  position: absolute;
  left: 0;
}
.integrantes {
  display: flex;
  justify-content: center; /* Para centralizar as imagens horizontalmente */
  align-items: center; /* Para alinhar as imagens verticalmente */
}

.integrantes a {
  display: inline-block;
  margin: 0 10px; /* Espaçamento entre as imagens */
  width: 100px; /* Largura da bola */
  height: 100px; /* Altura da bola */
  border-radius: 50%; /* Transforma a bola em um círculo */
  overflow: hidden; /* Para esconder partes da imagem fora da bola */
  background-color: #ABE56B; /* Cor da bola */
}

.integrantes img {
  width: 100%; /* Ajusta a largura da imagem para preencher a bola */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços em branco extras abaixo da imagem */
}
/* Estilos para telas menores */
@media only screen and (max-width: 960px) {
  /* Estilização específica para telas menores */
  #section1 {
    text-align: center;
    padding: 50px 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 65px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .cta-button {
    padding: 20px 40px; /* Maior espaço ao redor do botão */
    font-size: 20px; /* Tamanho maior para o texto do botão */
    background-color: white;
    color: #215934; /* Altera a cor do texto para verde */
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
  }
  
  .cta-button:hover{
    transform: scale(0.9);
  }
}
/* Estilos para telas menores */
@media only screen and (max-width: 960px) {
  /* Estilização específica para telas menores */
  #section2 .linha a.lixos img {
    width: 105%; /* Defina a largura desejada para a imagem */

  }
  #section2 {
    padding: 0px; /* Adiciona um espaçamento interno para separar o texto das bordas da seção */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites da seção */
    margin: 0;
    height: 110vh;
  }

  .meio {
    padding: 20px; /* Adiciona espaçamento interno ao redor do conteúdo */
  }
  #section2 .meio h1 {
    font-size: 20px; /* Define um tamanho de fonte menor para o título */
  }
    .content{
      padding: 10px;
    }

}
/* Estilos para telas menores */
@media only screen and (max-width: 960px) {
  /* Estilização específica para telas menores */
  #section3 .figma img {
    max-width: 90%; /* Define a largura máxima da imagem como 100% da largura do contêiner pai */
    height: auto; /* Garante que a altura da imagem seja ajustada automaticamente para manter a proporção */
  }
  #section3 {
    height: 100vh;
  }
  #section3 .content1 h5 {
    font-size: 40px; /* Define um tamanho de fonte menor para o título */
    padding: 22px;
  }

  #section3 .content1 p {
    font-size: 20px; /* Define um tamanho de fonte menor para o texto */
  }

}
/* Estilos para telas menores */
@media only screen and (max-width: 960px) {
  /* Estilização específica para telas menores */
  #section4 form {
    width: 90%; /* Define a largura do formulário para ocupar 90% da largura do viewport */
    margin: 0 auto; /* Centraliza o formulário na tela */
    padding: 10px; /* Ajusta o preenchimento do formulário */
    max-height: 400px; /* Define a altura máxima do formulário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical caso o conteúdo exceda a altura máxima */
  }
}
/* Estilos para telas menores */
@media only screen and (max-width: 960px) {
  /* Estilização específica para telas menores */
  .mission,
  .vision,
  .values {
    max-width: 300px; /* Define uma largura máxima para as seções */
    min-width: 200px; /* Define uma largura mínima para as seções */
  }
}




